name: menu_float
description: A menu float package to use on menu like tooltip, dropdown and etc.
version: 0.0.10
homepage: https://github.com/emirdeliz/menu_float

environment:
  sdk: ">=2.17.5 <3.0.0"
  flutter: ">=2.5.0"

platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
